<div>Breaking stories from around the globe</div>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="relative flex flex-col items-center justify-center">
        <img class="absolute top-0" src="https://www.vientianetimes.org.la/../free_news/free74_y23/P1.gif">
        <div class="absolute top-0 bg-black bg-opacity-50 text-white p-2">{{'Country celebrates grand Lao New Year, signalling tourism recovery'}}</div>
    </ng-template>
    <ng-template carouselSlide class="relative flex flex-col items-center justify-center">
        <img class="absolute top-0" src="https://www.vientianetimes.org.la/../free_news/free74_y23/P2.gif">
        <div class="absolute top-0 bg-black bg-opacity-50 text-white p-2">{{'Historic cross-border passenger trains travel between Vientiane and Kunming"'}}</div>
    </ng-template>
    <ng-template carouselSlide class="relative flex flex-col items-center justify-center">
        <img class="absolute top-0" src="https://www.vientianetimes.org.la/../free_news/free74_y23/P3.gif">
        <div class="absolute top-0 bg-black bg-opacity-50 text-white p-2">{{'DPM leads Lao businesses attending China International Expo'}}</div>
    </ng-template>
    <ng-template carouselSlide class="relative flex flex-col items-center justify-center">
        <img src="https://www.vientianetimes.org.la/../free_news/free74_y23/freenewsbiz.gif">
        <div class="absolute top-0 bg-black bg-opacity-50 text-white p-2">{{'Lao Jinshi Faculty international training course ends'}}</div>
    </ng-template>
    <ng-template carouselSlide class="relative flex flex-col items-center justify-center">
        <img src="https://www.vientianetimes.org.la/../free_news/free74_y23/freenews2.gif">
        <div class="absolute top-0 bg-black bg-opacity-50 text-white p-2">{{'The Legend of Lao New Year'}}</div>
    </ng-template>
</owl-carousel-o>